
.characters__list {
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px;
    align-items: start;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    padding-top: 20px; 
    gap: 20px;  
}