@import '../core/variables.scss'; 

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    gap: 5px;
}

.label__text {
    color: $blue;
    font-weight: bold;
    font-family: $font1;
}

.input{
 background-color: black;
 border: 2px solid $yellow; 
 border-radius: 5px;
 color:$yellow; 
}


