//colors 
$blue: rgb(82, 188, 214); 
$yellow: yellowgreen; 
$white: white; 



//fonts 
$font1: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
$font2: Georgia,
'Times New Roman',
Times,
serif; 